:root {
    --header-height:50px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: var(--header-height) 0 0 0;
}

header {
    position:fixed;
    top: 0;
    height: var(--header-height);
    width:100%;
    background-color: white;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 5px;
    z-index:10;
}

/* #header * {
    display: inline-block;
}*/

img, h1, ul, li {
    display: inline-block;
}

header h1 {
    font-size:18px;
    vertical-align: center;
}

header img {
    width: 70px;
    float:left;
}

nav {
    float:right;
    vertical-align: center;
    margin-right: 25px;
}

nav li {
    width:120px;
    text-align: center;
}

#banner {
    height: 450px;
    text-align: center;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    margin-bottom:20px;
    font-weight:bold;
}

#banner h2 {
    font-size: 35px;
    text-transform: uppercase;
}

#banner p {
    padding-top: 240px;
    margin:0;
}

#banner button {
    background-color:white;
    /* width:200px;
    height:40px; */
    padding:20px;
    border:none;
    border-radius:30px;
    text-transform: uppercase;
    font-size:20px;
    font-weight:400;
}

#banner button:hover, .images button:hover {
    background-color:#5e4a90;
    color:white;
    cursor:pointer;
}

#gallery {
    margin-left:5%;
}

.images {
    display: inline-block;
    /* float:left; */
    width:375px;
    height: 250px;
    margin:20px;
    text-align: center;
    background-size:cover;
}

.images button {
    background-color: white;
    border:none;
    position:relative;
    top:200px;
    /*height: 40px;*/
    padding: 10px 30px;
    text-transform: uppercase;
}

#img1 {
    background-image: url('../img/product-1.jpg');
}

#img2 {
    background-image: url('../img/product-2.jpg');
}

#img3 {
    background-image: url('../img/product-3.jpg');
}

#img4 {
    background-image: url('../img/product-4.jpg');
}

#img5 {
    background-image: url('../img/product-5.jpg');
}

#img6 {
    background-image: url('../img/product-6.jpg');
}

footer p {
    margin:0;
    display: block;
    /* clear: both; */
    padding:10px 0px;
    background-color: #5e4a90;
    text-align: center;
    color:white;
}

/* Definição das propriedades exclusivas dos formulários */
/*#contact {
    padding-top:100px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height:600px;
}

form {
    position:relative;
    margin-left:400px;;
    background-color:rgba(255,255,255,.75);
    width: 500px;
    border: 2px solid #5e4a90;
    border-radius:20px;
}

form h2 {
    text-align:center;
}

form label {
    margin-left: 40px;
}


form input, form textarea {
    margin-left: 40px;
    display:block;
    width:80%;
    height: 25px;
    border: 2px solid #5e4a90;
    border-radius:12px;
}
form textarea {
    height: 100px;
}

form input[type="checkbox"] {
    display: inline;
    width:20px;
}

form label[for="npnome"] {
    margin-left:5px;
}

form button {
    margin: 30px;
    background-color:#5e4a90;
    color:white;
    padding:10px 30px;
    border:none;
    border-radius:30px;
    text-transform: uppercase;
    font-size:20px;
    font-weight:400;
    position: absolute;
    right:20px;
} */

/*Versão instrutor */
#contact {
    padding-top:100px;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height:600px;
}

form * {
    display:block;
}

form {
    position:relative;
    background-color:rgba(255,255,255,.7);
    border:1px solid;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin: 0 auto;
}

form h2 {
    text-align: center;
}

form input, textarea {
    background-color:rgba(255,255,255,.7);
    outline:none;
    width:100%;
    height: 25px;
    margin: 10px 0 10px;
    border: 1px solid #5e4a90;
    border-radius:30px;
}

form textarea {
    resize: none;
    height: 120px;
}

form input[type="checkbox"], form label[for="npnome"], form button {
    width: auto;
    min-width: 20px;;
    display:inline-block;
}

form button {
    background-color: #5e4a90;
    color:white;
    text-transform: uppercase;
    font-size:20px;
    padding:10px 30px;
    border: none;
    border-radius:20px;
    position: absolute;
    right:20px;
}